In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
# `iris.data` holds the numerical values
# `iris.feature_names` holds the numerical column names
# `iris.target` holds the categorical (species) values (as ints)
# `iris.target_names` holds the unique categorical names
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris['feature_names'])

Info on datafram

In [ ]:
df.info()

Summary statistics

In [ ]:
df.describe()

Binning Data

In [3]:
bins = [0, 2, 4, 6]
labels =['short','medium','long']

category = pd.cut(df['petal length (cm)'], bins = bins, labels = labels)
df['category'] = category
df[['petal length (cm)', 'category']].head()

   petal length (cm) category
0                1.4    short
1                1.4    short
2                1.3    short
3                1.5    short
4                1.4    short

Pandas Crosstab

In [4]:
pd.crosstab(df['petal length (cm)'], df["sepal width (cm)"], margins=True, normalize = 'index').head()

sepal width (cm),2.0,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,3.0,...,3.4,3.5,3.6,3.7,3.8,3.9,4.0,4.1,4.2,4.4
petal length (cm),,,,,,,,,,,,,,,,,,,,,
1.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1.1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1.2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.5,0.0,0.000000,0.0
1.3,0.0,0.0,0.142857,0.0,0.0,0.0,0.0,0.0,0.000000,0.142857,...,0.000000,0.285714,0.000000,0.0,0.0,0.142857,0.0,0.0,0.000000,0.0
1.4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.076923,0.230769,...,0.153846,0.153846,0.153846,0.0,0.0,0.000000,0.0,0.0,0.076923,0.0

Bar Plot over Pandas DataFrame

In [5]:
df.head().style.bar(color = ['#d65f5f', '#5fba7d'], align = 'zero')